.service-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.service-image-wrapper { 
    width: 50%;
}

.service-image { 
    height: 100vh;
}

.service-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.service-text-wrapper h2 {
    margin-left: 15px;
    margin-bottom: 10px;
    color:rgba(0, 0, 0, 0.708);
}

.service-text-wrapper p {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.service-text-wrapper button {
    color: white;
    background-color: rgb(188, 220, 140);
    border-color: rgb(172, 211, 127);
    height: 50px;
    width: 30% !important;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
    box-shadow: none;
    border-radius: 8px;
}
