@media only screen and (max-width: 1260px) {
    .service-wrapper {
        justify-content: center;
    }
}
@media only screen and (max-width: 1094px) {
    .BestService-text  {
        width: 100% !important;
        align-items: center;
    }
    .service-image-wrapper{
       display: none;
    }
}

@media only screen and (max-width: 832px) {
    .BestService-text  {
        width: 100% !important;
        align-items: center;
    }
    .service-text-wrapper { 
         width: 100% !important;
    }
}