.blog {
    height: 100vh;
    background: rgb(242, 237, 237);
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;

}

.blog-text {
    padding: 20px;

}