  .card {
    width: 320px;
    height: 450px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
  }
  .card-img {
    width: 320px;
    height: 60%;
  }

  .card-title {
    margin: 5px;
    text-align: left;
    color: rgb(19, 18, 18);
  }

  .card-imgId {
    width: 20%;
    height: 50%;
  }
  
  .card-Id {
    display: flex;
    align-items: center;
    margin: 20px;
  }

  .card p {
    margin: 10px;
    font-weight: 150;
    font-size: 16px;
  }