@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

  .card {
    width: 320px;
    height: 450px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
  }
  .card-img {
    width: 320px;
    height: 60%;
  }

  .card-title {
    font-size: 25px;
    font-weight: 600;
    margin: 20px;
    color: rgb(19, 18, 18);
  }

  .card-imgId {
    width: 20%;
    height: 50%;
  }
  
  .card-Id {
    display: flex;
    align-items: center;
    margin: 20px;
  }

  .card p {
    margin: 10px;
    font-weight: 150;
    font-size: 16px;
  }