
/* HIDE OPTION BUTTON */
@media only screen and (max-width: 1400px) {
  .NavOptions {
    width: 45%;
  }
}
@media only screen and (max-width: 1207px) {
  .NavOptions {
    width: 58%;
  }
}

@media only screen and (max-width: 1030px) {
    .NavOptions {
     display: none;
    }
    .iconDrop { 
        display: block;
        z-index: 100;
    }
  }

  @media only screen and (max-width: 700px) {
    .nav-logo {
        width: 50%;
       }

  }