@media only screen and (max-width: 1169px) {
  .Join-page-wrapper {
    width: 100%;
    height: 100vh;
  }
  .Join-page-text {
    width: 80% !important;
  }
  .Join-page-bg {
   display: none !important;
  }
  .join-text { 
    width: 80% !important;
  }
}

@media only screen and (max-width: 701px) {
  .Join-page-text {
    width: 100% !important;
    justify-content: center !important;
  }
}