
.Join-page-wrapper{
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100;

    
}
.join-text { 
    width: 60%;
}

.Join-page-bg{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}
.Join-page-input{
    display: flex;
    width: 100%;
}
.Join-page-text {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    z-index: 25;
}

.Join-page-text h2 {
    margin: 10px;
    color: rgba(0, 0, 0, 0.708);
}

.Join-page-input input {
    width: 100% !important;
    margin-right: 10px;
    padding: 18px 24px;
    font-size: 16px;
    border-radius: 10px;  
}
.Join-page-input button {
    padding: 18px 24px;
    font-size: 16px;
    color: white;
    background-color: rgb(188, 220, 140);
    border-color: rgb(172, 211, 127);
    cursor: pointer;
}
