
.RecipeList {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
}
@media only screen and (max-width: 700px) {
    .RecipeList {
       height: 100% !important;
    }
  }
  .recipe-text { 
      display: flex ;
      flex-direction: column;
      align-items: center;
  }

  .text-details { 
      padding-top: 15px;
  }


.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 10px;
    flex: wrap;
    width: 80%;
    margin-top: 25px;
}

@media only screen and (max-width: 1390px) {
    .card-list  {
      width: 100% !important;
    }
  }
